@model Category

@{
	ViewData["Title"] = "Add New Category";
}

<div class="pt-3 pb-3 mt-4 d-flex justify-content-between align-items-center">
    <h1 class="text-primary ">Add New Category</h1>
    <a class="btn btn-primary d-flex align-content-center " asp-controller="Category" asp-action="Index">
        <i class="bi bi-arrow-left-short fs-5"></i> 
        <span class="ps-1">Categories List</span>
    </a>
</div>

<hr />

<form method="post">
    <div >
        <label asp-for="Name" class="col-form-label mt-4">Name</label>
        <input asp-for="Name" type="text" class="form-control" placeholder="Category Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>    
    <div >
        <label asp-for="DisplayOrder" class="col-form-label mt-4">Order Number</label>
        <input asp-for="DisplayOrder" type="number" class="form-control" placeholder="Enter Order Number">
        <span asp-validation-for="DisplayOrder" class="text-danger"></span>
    </div>    
    <div >
        <label asp-for="Description" class="col-form-label mt-4">Description</label>
        <textarea asp-for="Description" class="form-control" rows="3" placeholder="Write Some Description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mt-4">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

@section Scripts 
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

}